
@{
    ViewData["Title"] = "Index";
}

<h1>Admin</h1>
    
<br />
<center><h3>Pending</h3></center>
<table class="table table-primary">
    <tr>
        <th>Order date</th>
        <th>Last date and time</th>
        <th>Status</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.RequestDate</td>
            <td>@item.ExpiredTime</td>
            <td>Pending</td>
            <td> <a asp-area="Admin" asp-controller="Home" asp-action="Details" asp-route-id="@item.Id">Assing a employee</a> </td>
        </tr>
    }

</table>

